<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/适配器模式/src/cn/edu/scau/mi/hesguangsheng/适配器/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.edu.scau.mi.hesguangsheng.适配器.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="适配器模式"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="适配器模式"/>
</launchConfiguration>
